@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap');
@import url('https://fonts.cdnfonts.com/css/lakesight-personal-use-only');

@font-face {
  font-family: 'Lakesight';
  src: url('./Lakesight.woff2') format('woff2'),
      url('./Lakesight.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.main--container {
  overflow-x: hidden;
  width: 100%;
  height: 100%;
}

.experience {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
}

section {
  height: 100vh;
  pointer-events: all;
  background-color: #CCCCFF;
  z-index: 20;
}

.button--test {
  z-index: 20;
  pointer-events: all;
  position: absolute;
}



